<section class="content-header">
    <h1>
        Meu Perfíl
        <small>profile do usuário</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Meu perfil</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Meus dados
                    </h3>
                </div>
                <form name="profileForm" novalidate role="form">
                    <div class="box-body">
                        <div ng-include="'app/modules/profile/views/profile_form.html'"></div>
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-sm btn-circle btn-info" title="Salvar" validation-submit="profileForm" ng-click="form.submit()">
                            <span class="fa fa-save" aria-hidden="true"></span>
                        </button>
                        <a ui-sref="profilekey" class="btn btn-sm btn-circle btn-default" tooltip-placement="top" tooltip="Alterar Senha">
                            <span class="fa fa-key" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-sm btn-circle btn-default" validation-reset="profileForm" tooltip-placement="top" tooltip="Limpar">
                            <span class="fa fa-undo" aria-hidden="true"></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>