.tipo-receita {
    color: #449d44;
    border-color: #398439;
}

.tipo-cartao {
    color: #204d74;
    border-color: #005983;
}

.tipo-despesa {
    color: #d9534f;
    border-color: #d43f3a;
}

.tipo-transferencia {
    color: #286090;
    border-color: #204d74;
}