<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Nome</label>
            <p class="form-control-static">{{member.name}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Email</label>
            <p class="form-control-static">{{member.email}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Telefone</label>
            <p class="form-control-static">{{member.phoneNumber}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Endereço</label>
            <p class="form-control-static">{{member.address}}</p>
        </div>
    </div>
</div>