<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome</label>
            <input id="nome" name="nome" type="text" class="form-control" validator="required, length"
                   ng-model="member.name" valid-method="submit-only" , message-id="required1" minlength="0" maxlength="55"/>
            <span id="required1" class="help-block"></span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Email</label>
            <input id="email" name="email" type="text" class="form-control" validator="required, length"
                   ng-model="cartao.email" valid-method="submit-only" , message-id="required2" minlength="0" maxlength="55"/>
            <span id="required2" class="help-block"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Telefone</label>
            <input id="phoneNumber" name="phoneNumber" type="text" class="form-control" validator="required, length"
                   ng-model="member.phoneNumber" valid-method="submit-only" , message-id="required3" minlength="0" maxlength="55"/>
            <span id="required3" class="help-block"></span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Endereço</label>
            <input id="address" name="address" type="text" class="form-control" validator="required, length"
                   ng-model="cartao.address" valid-method="submit-only" , message-id="required4" minlength="0" maxlength="55"/>
            <span id="required4" class="help-block"></span>
        </div>
    </div>
</div>


