<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Nome</label>
            <p class="form-control-static">{{cartao.nome}}</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Bandeira</label>
            <p class="form-control-static">{{cartao.bandeira}}</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Conta para Pagamento</label>
            <p class="form-control-static">{{cartao.contaPgto}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Limite</label>
            <p class="form-control-static">{{cartao.limite}}</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Dia Fechamento</label>
            <p class="form-control-static">{{cartao.diaFechamento}}</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Dia Vencimento</label>
            <p class="form-control-static">{{cartao.diaVencimento}}</p>
        </div>
    </div>
</div>