<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Categoria</label>
            <input id="nome" name="nome" type="text" class="form-control" validator="required, length"
                   placeholder="Preencha o projeto" ng-model="categoria.descricao"
                   valid-method="submit-only" , message-id="requiredNome" minlength="3" maxlength="55"/>
            <span id="requiredNome" class="help-block"></span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Cor</label>
            <input id="cor" name="cor" type="text" class="form-control" validator="required, length"
                   ng-model="categoria.cor"
                   valid-method="submit-only" , message-id="requiredCor" minlength="0" maxlength="25"/>
            <span id="requiredCor" class="help-block"></span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label class="required">Subcategoria?</label>
            <div class="checkbox no-margin">
                <label>
                    <input type="checkbox" ng-model="categoria.subcategoria"/> {{categoria.subcategoria ? "Sim" : "Não" }}
                </label>
            </div>
        </div>
    </div>
</div>
