<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Nome</label>
            <input id="nome" name="nome" type="text" class="form-control" validator="required, length"
                   placeholder="Preencha a conta" ng-model="conta.nome" 
                   valid-method="submit-only" , message-id="requiredNome" minlength="3" maxlength="50"/>
            <span id="requiredNome" class="help-block"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Saldo Inicial</label>
            <input id="sdoInicial" name="sdoInicial" type="number" class="form-control" validator="required, length"
                   ng-model="conta.saldoInicial"
                   valid-method="submit-only" , message-id="requiredSdo" minlength="0" maxlength="10"/>
            <span id="requiredSdo" class="help-block"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Tipo</label>
            <select class="form-control" ng-model="conta.tipo">
                <option>Conta Corrente</option>
                <option>Conta Poupança</option>
                <option>Carteira</option>
                <option>Outros</option>
            </select>
        </div>
    </div>
</div>
