<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Nome</label>
            <p class="form-control-static">{{conta.nome}}</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Saldo Inicial</label>
            <p class="form-control-static">{{conta.saldoInicial}}</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Tipo</label>
            <p class="form-control-static">{{conta.tipo}}</p>
        </div>
    </div>
</div>